[Unit]
Description=Netmon Web Display Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=-{{ netmon_web_display_service.working_directory }}
ExecStartPre=/bin/mkdir -p '{{ netmon_web_display_service.working_directory }}'
ExecStart=/bin/sh -c 'sudo live-server --port=80 --no-browser "{{ package_dir }}/netmon-web-display"'
#ExecStart=/bin/sh -c 'sudo http-server -c-1 -p 80 "{{ package_dir }}/netmon-web-display"'
Restart=always
TimeoutStopSec=10
User={{ netmon_web_display_service.user }}

[Install]
WantedBy=multi-user.target
