@import url("./utils.css");
@import url("./sfsymbols.css");
@import url("./onscreen-console.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html { @apply h-full bg-default text-default; }
body { @apply min-h-full overflow-y-auto; }

/* pseudo-element to create a zero-height barrier at the top to avoid collapsing margins */
body::before { @apply content-[''] table h-0; }

.divider { @apply flex items-center justify-center w-48 mx-auto my-4 md:my-10;}
.divider::before, .divider::after { @apply flex-1 content-[''] h-1 border-0 bg-default dark:bg-invert;}
.divider::before { @apply rounded-l;}
.divider::after { @apply rounded-r;}
.divider:not(:empty)::before { @apply rounded-r mr-2;}
.divider:not(:empty)::after { @apply rounded-l ml-2;}

.divider-xs { @apply divider my-4 md:my-4 min-w-[50%] text-xs;}
.divider-xs::before, .divider-xs::after { @apply h-[1px];}

/*[data-zooming] { @apply debug; }*/

.hosts { @apply m-2; }
.host { @apply m-1 px-2 py-1 rounded; }

:root {
  --HOST_STATE_CHANGE_HIGHLIGHT_DURATION: 60s;
}

.host[data-status=up] {
  --status-color: theme('colors.green.500');
  --status-color-bright: theme('colors.green.100');
}

.host[data-status=down] {
  --status-color: theme('colors.red.500');
}

.host[data-status=unknown] {
  --status-color: theme('colors.yellow.500');
}

.host__icon { color: var(--status-color); }

.host--highlighted[data-status=up] {
  animation: fading-up ease-out var(--HOST_STATE_CHANGE_HIGHLIGHT_DURATION) both;
}

.host--highlighted[data-status=down] {
  animation: fading-down ease-out var(--HOST_STATE_CHANGE_HIGHLIGHT_DURATION) both;
}

@keyframes fading-up {
  0% { box-shadow: 0 0 4px 4px var(--status-color-bright, var(--status-color)); }
  16.6% { box-shadow: 0 0 0 2px var(--status-color); }
  100% { box-shadow: 0 0 0 2px transparent; }
}

@keyframes fading-down {
  0% { box-shadow: 0 0 0 2px var(--status-color); }
  100% { box-shadow: 0 0 0 2px transparent; }
}
